.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    /* position: fixed; Fixes the navbar */
     width: 100%;/* Ensures it spans the full width of the screen */
    background-color: white; /* Set a background color to prevent overlap with content */
    z-index: 1000; 
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* margin-bottom: 10px; Optional: adds a subtle shadow */
}

.navbar .logo {
    width: max(10%, 80px);
    flex-shrink: 0;
}

.navbar .profile {
    width: 40px;
    flex-shrink: 0;
}
